#!/usr/bin/env bash

# Navigation
alias d="cd ~/Developer"
alias dl="cd ~/Downloads"

# Python
alias python="python3"
alias ae="deactivate &> /dev/null; source ./venv/bin/activate"
alias pes="pipenv shell"
alias de="deactivate"

# Git
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gc='git commit -v'
alias gcl='git clone'
alias gcm='git checkout master'
alias gcmsg='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias gl='git pull'
alias glgg='git log --graph'
alias gm='git merge'
alias gp='git push'
alias grb='git rebase'
alias gst='git status'
alias gsta='git stash push'
alias gstd='git stash drop'
alias gstp='git stash pop'
