[user]
	name = Håvard Anda Winninge
	email = haavard.ae@gmail.com
[core]
	excludesfile = /Users/estensen/.gitignore_global
	editor = vim
	autocrlf = input
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
