[user]
    name = Håvard Anda Estensen
    email = haavard.ae@gmail.com
[core]
    excludesfile = /Users/estensen/.gitignore_global
    editor = vim
    autocrlf = input
[credential]
    helper = osxkeychain
