[user]
	name = Håvard Anda Winninge
	email = haavard.ae@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = true
[include]
	path = ~/.gitconfig.local
